<div class="col-lg-6">
    <div class="card shadow mt-5">
        <div class="card-body">
            <p class="lead">Total workshops: <%= @workshop_count %> </p>
            <p class="lead">Total workshops: <%= @upcoming_workshop_count %>  </p>
            <p class="lead"> Total workshops: <%= @past_workshop_count %></p>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="card shadow mt-5">
        <div class="card-body">
            <p class="lead">Total Bookings: <%= @booking_count %> </p>
            <p class="lead">Total revenue: Rs. <%= @revenue_earned %> </p>
        </div>
    </div>
</div>
<div class="col-lg-3">
    <div class="card shadow mt-5">
        <div class="card-body">
            <p class="lead">Total Customers: <%= @customer_count %> </p>
        </div>
    </div>
</div>