<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <%= link_to "Webinary", root_path, class: "navbar-brand fw-bold" %>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- Workshops -->
        <li class="nav-item">
          <%= link_to "Workshops", workshops_path, class: "nav-link" %>
        </li>

        <% if customer_signed_in? %>
          <!-- My Bookings -->
          <li class="nav-item">
            <%= link_to "My Bookings", bookings_path, class: "nav-link" %>
          </li>
        <% end %>

        <% if admin_user_signed_in? %>
          <!-- Admin Dashboard -->
          <li class="nav-item">
            <%= link_to "Admin Dashboard", admin_dashboard_path, class: "nav-link text-warning" %>
          </li>
        <% end %>

      </ul>

      <!-- Right Side -->
      <ul class="navbar-nav ms-auto">

        <% if admin_user_signed_in? %>

          <li class="nav-item">
            <span class="nav-link text-light">
              Admin
            </span>
          </li>

          <li class="nav-item">
            <%= link_to "Log Out",
                        destroy_admin_user_session_path,
                        method: :delete,
                        class: "nav-link" %>
          </li>

        <% elsif customer_signed_in? %>

          <li class="nav-item">
            <span class="nav-link text-light">
              Welcome, <%= current_customer.full_name %>
            </span>
          </li>

          <li class="nav-item">
            <%= link_to "Log Out",
                        destroy_customer_session_path,
                        method: :delete,
                        class: "nav-link" %>
          </li>

        <% else %>

  <li class="nav-item">
    <%= link_to "Sign Up",
                new_customer_registration_path,
                class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "Customer Login",
                new_customer_session_path,
                class: "nav-link" %>
  </li>

  <li class="nav-item">
    <%= link_to "Admin Login",
                new_admin_user_session_path,
                class: "nav-link text-warning fw-bold" %>
  </li>

<% end %>


      </ul>

    </div>
  </div>
</nav>
